@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Saira+Stencil+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #8C11BE;
  font-family: 'Raleway', sans-serif;
  padding: 25px 24px 16px 25px;
}